@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="grid-container">
    <div class="singleHover">
        <img class="image" src="images/IMG-3018.jpg" alt="Pothos" />
        <div class="imageOverlay imageOverlay--blur">
            <div class="plantName">Pothos</div>
            <p class="imageDescription"><em>Scindapsus pictus</em></p>
        </div>
    </div>
    <div class="singleHover">
        <img src="images/IMG-3022.jpg" alt="Air plants" />
        <div class="imageOverlay imageOverlay--blur">
            <div class="plantName">Tillandsia</div>
            <p class="imageDescription">
                <em>
                    Tillandsia ionantha, Tillandsia tectorum, Tillandsia
                    xerographica
                </em>

