@{
    ViewData["Title"] = "KeyBoard Cat";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <title>Adoption Profile</title>
    <style>
       .carousel-control-prev,
       .carousel-control-next{
           font-size: 40px;
       }
       .btn{
           margin: 4px;
           box-shadow: 1px 1px 5px #888888;
           color: #fff;
           background-color: mediumpurple;
           border-bottom: 2px solid #9370DB;
       }
       .btn:hover, .btn:focus {
           color: #fff;
           background-color: #70DB93;
           border-bottom:2px solid #70DB93;
           outline: none;
       }

    </style>
  </head>
  <!--Header needs to be added-->

  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div id="catCarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#catCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#catCarousel" data-slide-to="1"></li>
    <li data-target="#catCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.vets4pets.com/siteassets/species/cat/close-up-of-cat-outside.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.vets4pets.com/siteassets/species/cat/close-up-of-cat-outside.jpg" alt="Third slide">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#catCarousel" role="button" data-slide="prev">
        <i class="bi bi-caret-left" aria-hidden="true"></i>
  </a>
  <a class="carousel-control-next" href="#catCarousel" role="button" data-slide="next">
    <i class="bi bi-caret-right" aria-hidden="true"></i>
  </a>
</div>  

<!-- Bio -->
    <div id="cat-bio" class="container text-center">
      <h3>Cat Name</h3>
      <p><em>Age | Gender | Breed</em></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <br />
      <!-- Health stats -->
      <div class="row">
        <div class="col-sm-8">
          <div class="well well-lg">
            <h3 class="text-center"><strong>HEALTH / STATS</strong></h3>
            <p>
              Attributes 
            </p>
            <span class="label label-info">Maybe labels</span>
          </div>
        </div>
        <!-- Favorite Button -->
        <div class="col-sm-4">
            <button type="button" class="btn text-uppercase btn-lg">Save to favorites</button>
          <!-- Rescue Info -->
          <div class="well well-sm">
            <address>
              <strong>Rescue/Organization</strong>
              <br />
              <i class="bi bi-geo-alt-fill"></i>
              <a href="#">Address[Google Maps]</a>
              <br />
              <i class="bi bi-envelope-fill"></i>
              <a href="mailto:#">rescue@email.com</a>
              <br />
              <i class="bi bi-telephone-fill"></i>
              <a href="#">123456789</a>
            </address>
          </div>
        </div>
      </div>
    </div>
</body>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-between">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</html>