
@model VetFinderSearchViewModel
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl4UbaqqJVgTzAHGRWwGr3sbFvVqqYQ98&libraries=places&callback=initMap">
</script>

@{
    ViewData["Title"] = "Vet Finder";
}

<h1>Vet Finder</h1>

<p>Enter your zip code to find veterinarians near you.</p>

<form asp-action="Search">
    <div class="form-group">
        <label asp-for="Query">Search for:</label>
        <input asp-for="Query" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
