@{
    ViewData["Title"] = "KeyBoard Cat";
}
<!DOCTYPE html>
<html lang="en">

<head>
<title>About Us</title>
</head>
<br />
<body>
<h4>A Little Bit About Us</h4>
<br />
<div class="text-center">
    <p>
        Keyboard Cats was created for cat owners, cat fans, and those interested in adopting a new feline family member. 
        Anyone can use our search feature and easily view all the cats that are available for adoption at local shelters. 
        We also included information on what to expect as a cat owner and general guidance on how to care for them.
        Our main goal is to help kitties find their forever homes. Using Petfinder's API, our app can show you who is out there so you can quickly find your new furry friend.
        As fellow cat owners, we know how stressful it can be to keep track of each pet's different needs, remembering vet appointments, and all their little quirks. 
        We hope this app serves not only as a learning resource but as a convenient tool for managing your pets. 
        That's why we made this app, so you be sure your cat is living its best life! 
    </p>
    <br />
    <img src="https://media1.giphy.com/media/CS6YxDFlrCWmA/giphy.gif" alt="Taylor Swift and her cats"/>
</div>
</body>

</html>