@model Cat; 

<link rel="stylesheet" type="text/css" href="~/css/Gallery.css"/>
<header>

    @*<h1>KeyBoard Cats</h1>*@
   
        @*navigation bar to nav thorugh the forms*@
        <div class="container">

            <img src="~/images/keyboard cat!.gif" alt="logo" class="logo" />


            <nav>
                <ul>
                    <a asp-controller="Home" asp-action="Index">
                    <li><a href="#">Login</a></li> </a>
                    <a asp-controller="Home" asp-action="CatGallery">
                    <li><a href="#">Cat Gallery</a></li> </a>
                    <a asp-controller="Home" asp-action="Guest">
                    <li><a href="#">Home</a></li> </a>
                </ul>
            </nav>
        </div>
    </header>

    <body>

        <h1> Cat Adoption Gallery</h1>

        <div class="slider-frame">
            <div class="slide-images">
    @*To loop through the images provided and display them. Do not do array [], it will not loop the right way. *@
   
    @foreach (string img in @ViewBag.CatImageLink)
    {
        
           <div class="img-container">
                <img src="@img" />
               </div>
           
    
        
    }
        </div>
    </div>
    <div class="gallery-container">
    @foreach (string img in @ViewBag.CatImageLink)
    {

        <div class="image-container">
            <center> <img src="@img" /></center>
        </div>



    }
    </div>
    @*
    <div class="box">

    <span style="--i:1;"><img src="~/images/adopt 1.jpg"></span>
    <span style="--i:2;"><img src="~/images/adopt 2.jpg"></span>
    <span style="--i:3;"><img src="~/images/adopt 3.jpg"></span>
    <span style="--i:4;"><img src="~/images/adopt 4.jpg"></span>
    <span style="--i:5;"><img src="~/images/adopt 5.webp"></span>
    <span style="--i:6;"><img src="~/images/adopt 6.webp"></span>
    <span style="--i:7;"><img src="~/images/adopt 7.jpg"></span>
    <span style="--i:8;"><img src="~/images/adopt 8.jpg"></span>
    </div>*@
     
        </body>


@*
    <div class="box">

        <span style="--i:1;"><img src="~/images/adopt 1.jpg"></span>
        <span style="--i:2;"><img src="~/images/adopt 2.jpg"></span>
        <span style="--i:3;"><img src="~/images/adopt 3.jpg"></span>
        <span style="--i:4;"><img src="~/images/adopt 4.jpg"></span>
        <span style="--i:5;"><img src="~/images/adopt 5.webp"></span>
        <span style="--i:6;"><img src="~/images/adopt 6.webp"></span>
        <span style="--i:7;"><img src="~/images/adopt 7.jpg"></span>
        <span style="--i:8;"><img src="~/images/adopt 8.jpg"></span>
    </div>*@

@*<div class="grid-container">
    <div class="singleHover">
        <img class="image" src="images/IMG-3018.jpg" alt="Pothos" />
        <div class="imageOverlay imageOverlay--blur">
            <div class="plantName">Pothos</div>
            <p class="imageDescription"><em>Scindapsus pictus</em></p>
        </div>
    </div>
    <div class="singleHover">
        <img src="images/IMG-3022.jpg" alt="Air plants" />
        <div class="imageOverlay imageOverlay--blur">
            <div class="plantName">Tillandsia</div>
            <p class="imageDescription">
                <em>
                    Tillandsia ionantha, Tillandsia tectorum, Tillandsia
                    xerographica
                </em>*@

