@model Cat; 

<link rel="stylesheet" type="text/css" href="~/css/Gallery.css"/>
<header>
<!--jQuery-->

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"

	        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="

	        crossorigin="anonymous">

	</script>

	<!--Font Awesome-->

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Animate CSS-->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet" />

    
    <script src="js/jquery.popup.lightbox.js"></script>

    @*<h1>KeyBoard Cats</h1>*@
   
        @*navigation bar to nav thorugh the forms*@
        <div class="container">

            <img src="~/images/keyboard cat!.gif" alt="logo" class="logo" />


            <nav>
                <ul>
                    <a asp-controller="Home" asp-action="Index">
                    <li><a href="#">Login</a></li> </a>
                    <a asp-controller="Home" asp-action="CatGallery">
                    <li><a href="#">Cat Gallery</a></li> </a>
                    <a asp-controller="Home" asp-action="Guest">
                    <li><a href="#">Home</a></li> </a>
                </ul>
            </nav>
        </div>
    </header>

    <body>

        <h1> Cat Adoption Gallery</h1>
    
     
    </body>



