<left><h1>KeyBoard Cats</h1></left>
<right><p><button type="button">Login</button></p></right>

<body>
    <nav>
        <ul>
            <li>
                <a href="#"> Cat Adoption Gallery</a>
            </li>
            <li>
                <a href="#"> Vet Near You'</a>
            </li>
            <li>
                <a href="#">Symptom Checker </a>
            </li>
            </li>
        </ul>
    </nav>
</body>