<link rel="stylesheet" type="text/css" href="~/css/GuestPage.css"/>

@*<h1>KeyBoard Cats</h1>*@
<header>
    <div class="container">

         <img src="~/images/keyboard cat!.gif" alt="logo" class="logo" />
        

    <nav>
        <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Vet Nearby</a></li>
                <li><a href="#">Cat Generator</a></li>
                <li><a href="#">Home</a></li>
        </ul>
    </nav>
    </div>
</header>
<body>
    <div class="wrapper">
        <div class="img-area">
           <img src="~/images/cat small gallery.jpg" alt="" class="img-box box-1" />
            <img src="~/images/kittypic.jpg" alt="" class="img-box box-2" />
            <img src="~/images/willyouwork.jpg" alt="" class="img-box box-3" />
          
        </div>
        <a href="#">Cat Gallery</a>
    </div>
<article>
    <h2>The Inner Life of Cats</h2>
    <img src="~/images/why cats.webp" height="340" width="350" draggable="false"/>
    <p>Wanna know why cats behave the way theye do? Here is an article that interviews John Bradshaw who is the author of the book Cat Sense. This articles talks why and how a cat purrs, why they knock objects off of shelves or tables, and why they loves boxs so much. check it out in the link below! </p>
    <a href="https://www.scientificamerican.com/article/the-inner-life-of-cats/">The Interview</a>

</article>

<article>
    <h2>Wet Vs. Dry Cat Food: Which is Better?</h2>
    <img src="~/images/cat food bowl.jpg" height="340" width="350" draggable="false" />
    <p>Are you trying to find the best food for your vat but not sure if wet or dry food is better? Check out this article from Purina tells you the benefits of both and which one might be the better option for your little fur baby. </p>
    <a href="https://www.purina.com/articles/cat/nutrition/wet-vs-dry-cat-food">Wet Vs. Dry Food</a>
</article>

    <article> 
        <h2>Symptom Checker</h2>
    <img src="~/images/cute cat.jpg" height="340" width="350" draggable="false" />
        <p>Is your pet acting stranges or showing symptoms but your not sure what? Check out this PetMD that can help you narrow dow nto certain possiblities
            for your pet to have. They have a symptom checker along with other articles that talks about dealing with certain diseases and disorder.
        </p>
    <a href="https://www.petmd.com/symptom-checker">Symptom Checker Site</a>
    </article>
</body>