@{
    ViewData["Title"] = "KeyBoard Cat";
}

<div class="text-center">
    <h1>Welcome to Keyboard Cats</h1>

   
    <form action="/Identity/Account/Login"><button type="submit">Log In</button></form>
    <form action="/Identity/Account/Register"><button type="submit">Register</button></form>

    <p><a href="">Forgot Password?</a></p>
    <p><a href="">Privacy</a></p>


    <p> <a asp-controller="Home" asp-action="Guest">Continue as Guest </a></p>
    <p> <a asp-controller="Home" asp-action="CatVideoGenerator">Cat Video Generator</a></p>

    <img src="~/images/moving-cat-3.gif" />
</div>
<footer>
    <h5> <a a asp-controller="Home" asp-action="AboutUs">About Keyboard Cats</a></h5>
</footer>