@{
    ViewData["Title"] = "KeyBoard Cat";
}

<div class="text-center">
    <h1>Welcome to Keyboard Cats</h1>

   
    <p><form action="/Identity/Account/Login"><button type="submit">Login</button></form></p>
    <p><form action="/Identity/Account/Register"><button type="submit">Register</button></form></p>

    <p><a href="">Forgot Password?</a></p>
    <p><a href="">Privacy</a></p>


    <p> <a asp-controller="Home" asp-action="Guest">Continue as Guest</a></p>

    <img src="~/images/moving-cat-3.gif" />
</div>
