@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<header>
    @*navigation bar to nav thorugh the forms*@
    <div class="container">

        <img src="~/images/keyboard cat!.gif" alt="logo" class="logo" />


        <nav>
            <ul>
                <li><a href="/Identity/Account/Login">Login</a></li>
                <li><a href="/CatGallery">Cat Gallery</a></li> 
                <li><a href="/">Home</a></li> 
            </ul>
        </nav>
    </div>
</header>
<p>Use this page to detail your site's privacy policy.</p>
