
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/watercolorbg.webp');
    font-family: 'Baskerville Old Face'
}

img {
    background-color: transparent;
}

div {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
    line-height: 20px;
}

button {
    color: mediumpurple;
    background: transparent;
    border: double;
    font-size: 45px;
    line-height: 40px;
    margin-top: 40px;
}

h1 {
    color: rebeccapurple;
    font-size: 50px;
    border: solid;
    padding-top: 10px;
    line-height: 150px;
}

nav {
    float: right;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 25px;
        position: relative;
    }

    nav a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

        nav a:hover {
            color: #8e41db;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            width: 100%;
            background: #8e41db;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        nav a:hover::before {
            width: 100%;
        }