html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin-bottom: 60px;
   background-image: url('../images/watercolorbg.webp');
   background-size:cover;
   font-family:'Microsoft Sans Serif'
}

img {
    background-color: transparent;
}

div {
    text-align: center;
    margin-top: 50px;
    margin-bottom:120px; 
    line-height: 20px;

}

button {
    color: mediumpurple;
    background: transparent;
    border: double;
    font-size: 45px;
    line-height:40px;
    margin-top:40px;

}

h1 {
    color: rebeccapurple;
    font-size: 50px;
    border: solid;
    padding-top: 10px;
    line-height: 150px; 
}
nav {
    float: right;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 25px;
        position: relative;
    }

    nav a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

        nav a:hover {
            color: #8e41db;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            width: 100%;
            background: #8e41db;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        nav a:hover::before {
            width: 100%;
        }

.text-box{
    color:ghostwhite;
    position:relative;
    justify-content:center;
    -webkit-text-stroke: 1px black;
    margin-top: 10%;
        
}

.text-box p{
    font-size: 60px;
    font-weight: 600 bold;
    padding: 5%;
    
}

    .text-box h2 {
        font-size: 170px;
        font-weight:bold;
        line-height: 160px;
        color: transparent;
        -webkit-text-stroke: 15px ;
        background: url('../images/cattest.jpg');
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
        
    }

    @keyframes back{
        100%{
            background-position: 2000px 0;
        }
    }
    .text-box h3 {
        font-size: 40px;
        font-weight: 500;
        padding: 5%;
    }